* {
	margin:0;
	padding:0;
}


body { 
	background-color: #EBEBEB; 
	background-image: url(../images/top-blue-bg_smaller.png);
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left top;
}

body, p, ol, ul, td {
  	font-family: Georgia,serif,verdana, arial, helvetica, sans-serif;
  	font-size:   13px;
  	line-height: 18px;

}


.header {
	text-align: center;
	vertical-align: middle;

	padding: .5em;
	
}

.container {
	background-color: transparent; 
	background-image: url(../images/header-shadow.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0 207px;
	
	width: 80%;
	margin: 10px auto;	
}

#footer
{
clear: both;
margin: 0;
padding: .5em;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

