<h1>Listing foos</h1>

<table>
  <tr>
  </tr>

<% for foo in @foos %>
  <tr>
    <td><%= link_to 'Show', foo %></td>
    <td><%= link_to 'Edit', edit_foo_path(foo) %></td>
    <td><%= link_to 'Destroy', foo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New foo', new_foo_path %>
